body {
  background-color: #FFFFE0; /* warna kuning cerah */
font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca
  color: #191970; /* warna teks utama (biru gelap) */
}

.kartu-profil {
  width: 350px;
  margin: 80px auto; /* 80px jarak atas/bawah, auto menengahkan
  kiri/kanan */
padding: 50px;
  background-radius: 25px; /* membuat sudut jadi melengkung */
box-shadow: 0 7px 16px rgba (0,0,0,0.1); /* efek bayangan */
text-align: center; /* menengah semua teks didalam kartu */
}

kartu-profil img {
width: 150px;
  border-radius: 50%; /* Trik untuk semua gambar persegi menjadi lingkaran sempurna
}
